body {
    background-color: aqua;
}

.formularz {
    background-color: aliceblue;
    width: 400px;
    position: fixed;
    left: 50%;
    margin-left: -200px;
    margin-top: 50px;
    padding: 10px;
    border: 2px dashed;
}

.form-check 
{
    display: inline-block;
    margin-right: 10px;
}

.buttons {
    display: inline-block;
}
